$font-family: "Poppins", sans-serif;

$main-color: #154576;
$secondary-color: #FFC300;
$txt-color: #154476;
$bg-color: #002930;

$box-shadow: 12px 27px 39px 7px rgb(0 0 0 / 4%);

$border-radius: 100px;
$phone-width: 400px;
$mobile-width: 600px;
$tablet-width: 1024px;